################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/BAT/Elematec/Elematec.EntExtManage_RFIDSystem/bin/Debug
/BAT/Elematec/Elematec.EntExtManage_RFIDSystem/obj/Debug
/BAT/Elematec/Elematec.EntExtManage_RFIDSystem_Common/bin/Debug
/BAT/Elematec/Elematec.EntExtManage_RFIDSystem_Common/obj/Debug
/BAT/Elematec/Elematec.EntExtManage_RFIDSystem_Importer/bin/Debug
/BAT/Elematec/Elematec.EntExtManage_RFIDSystem_Importer/obj/Debug
/BAT/Elematec/packages
