################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/BAT/Elematec/Elematec.EntExtManage_RFIDSystem/bin/Debug
